---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alexander Wilton-Reeves" description="About Alexander Wilton-Reeves">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/conducting2.jpg"
					alt="Concert band conducting"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">

<p>I am a passionate and dedicated music educator and conductor with a strong commitment to fostering talent, teamwork, and creativity in young musicians. During my time at ACG Strathallan, I had the privilege of leading Jazzcito and the ACG Strathallan Concert Band to the KBB Music Festival 2024. This marked a milestone for both groups, with Jazzcito making its festival debut and the Concert Band entering its first competitive performance. Preparing a diverse repertoire with nearly 60 enthusiastic students was a deeply rewarding experience, and witnessing their hard work culminate in an unforgettable showcase of talent was truly inspiring. My journey in music education was driven by moments like these, where growth and collaboration took center stage. </p>
<br>
<p>In addition to my musical endeavors, I had the honor of serving as Head of Batten House at ACG Strathallan, where I focused on building a supportive and inclusive community. From high-energy Jump Jam competitions to team-building activities, I was dedicated to fostering a sense of camaraderie and resilience among our students. Whether guiding young performers through the complexities of a musical score or cheering them on in cross-country races, I was committed to helping individuals realize their potential, both on and off the stage. My journey, shaped by formative experiences such as participating in the KBB Festival as a student and returning as a conductor, reflects my enduring passion for education, performance, and the joy of shared achievements.</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Graduate Diploma of Teaching @ University of Auckland (2022)</p>
					<p>Bachelor of Music (Honours) @ Univeristy of Auckland (2018-2021)</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
